* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo', sans-serif;
	list-style: none;
	text-decoration: none;
	color: inherit;
}

/* NAV */

.navbar {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(79,79,79,1);
	-moz-box-shadow: 0px 2px 15px 0px rgba(79,79,79,1);
	box-shadow: 0px 2px 15px 0px rgba(79,79,79,1);
}

.navbar-wrapper {
	margin: 0 auto;
	width: 600px;
}

.nav {
	margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
}

.nav li {
    display: inline;
    width: 60px;
    line-height: 2;
    font-size: 16px;
    margin-left: 18px;
}

.nav a, .foot-nav {
	font-weight: 300;
    display: inline-block;
    padding: 0 30px;	
    color: #666;
}

.nav a:hover, .foot-nav a:hover {
	font-weight: 400;
	color: #444;
	cursor: pointer;
}

.logo {
	width: 38px;
	height: 45px;
	display: inline-block;
	background: url("../images/logo.svg") center;
	float: left;
	background-size: 100%;
	text-align: center;
	margin-top: 10px;
	margin-left: 46%;
}

.logo-color {
	width: 38px;
	height: 45px;
	background: url("../images/logo.svg") center;
	float: left;
	background-size: 100%;
	position: relative;
	transition: all .5s ease-in-out;
	opacity: 0;
}

.logo:hover .logo-color {
	opacity: 1;
}

/* MAIN */

.main {
	width: 100%;
	height: 800px;
	/*	border: 1px transparent;*/
/*	display: block;*/
}

.main-name {
	position: absolute;
	z-index: 100;
	top: 400px;
	left: 13%;
}

.main-name h1 {
	width: 400px;
	font-size: 60px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #fff;
	line-height: 1.3;
	text-align: right;
	transition: all 1s ease-in-out;
	position: fixed;
}

/*.main-pic {
	width: 1920px;
	height: 800px;
	display: inline-block;
	background: url("../images/main.jpg") center;
	filter: grayscale(100%);
	transition: all 1s ease-in-out;
}*/

.parallax {
	
	background: #153c63 url("../images/main.jpg");
    filter: grayscale(100%);
    width: 100%;
    height: 800px; 
	transition: all 1s ease-in-out;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.main:hover .parallax, a:hover  {
	filter: grayscale(0%);
	cursor: default;
}

.cleaner {
    clear: both;
}

.main:hover .main-pic, a:hover  {
	filter: grayscale(0%);
	cursor: default;
}

.main img {
	float: left;
	width: 120px;
	height: auto;
	position: fixed;
	top: 410px;
	left: 47%;
	opacity: 0;
	filter: grayscale(100%);
	transition: all 1s ease-in-out;
	z-index: 10;
}

.main:hover img {
	filter: grayscale(0%);
	opacity: 1;
	transform: scale(1.1);
	cursor: default;
	position: fixed;
}

.main:hover .main-name h1 {
	font-size: 62px;
	letter-spacing: 2px;
	color: white;
	font-weight: 400;
	text-align: right;
	position: fixed;
}

/* ABOUT */

.about, .works, .contact {
	float: left;
	width: 100%;
	height: 800px;
}

.about {
	margin-top: -2px;
}

.contact-form {
	margin-top: 117px;
}

.about-left, .contact-left, .work-page-left, .work-page-left-boxes, .contact-left-form {
	float: left;
	width: 50%;
	height: 800px;
	overflow: hidden;
}

.work-page-left {
	border: 1px solid #ddd;
}

.about-img {
	float: left;
	width: 100%;
	height: 800px;
	display: inline-block;
	background: url("../images/about.jpg") center;
	filter: grayscale(100%);
	transition: all 1s ease-in-out;
}

.about-left:hover .about-img {
	filter: grayscale(0%);
	cursor: default;	
	-webkit-transform: scale(1.005);
}

.about-left:hover ~ .about-right h1 {
	color: #186593;
	font-weight: 400;
	letter-spacing: 3px;
}

.work-page-left:hover ~ .work-page-right h1 {
	color: #186593;
	font-weight: 400;
	letter-spacing: 3px;
}

.about3-left:hover ~ .about3-right h1 {
	color: #186593;
	font-weight: 400;
	letter-spacing: 3px;
}

.work-page-left-boxes:hover ~ .work-page-right h1 {
	color: #186593;
	font-weight: 400;
	letter-spacing: 3px;
}



.work-page-left-boxes {
	float: left;
	width: 50%;
	height: 800px;
	overflow: hidden;
}

.about-right, .contact-right, .work-page-right, .about3-right {
	float: left;
	width: 50%;
	height: 800px;
	padding: 100px;
}

.about-right h1, .about2-left h1, .about3-right h1, .work-page-right h1, .work-page-left-content h1 {
	font-size: 45px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #186593;
	line-height: 1.3;
	margin-bottom: 100px;
	transition: all 1s ease-in-out;
}




.about-right p, .work-left p, .about3-right p, .contact-right p, .about2-left p, .work-page-right p, .contact-right-form {
	width: 400px;
	font-size: 22px;
	font-weight: 300;
	color: #666;
	line-height: 2;
	margin-bottom: 30px;
}

.about-right a:hover, .work-left a:hover, .contact-right a:hover {
	color: #2a203b;
	font-weight: 400;
	transition: all .3s ease-in-out;
}

.about-right a:hover {
	cursor: pointer;
}

.about a, .work a, .contact a, .work-page-right a {
	font-weight: 400;
	color: #c73260;
}

/* WORKS */

.work-left {
	position: relative;
	left: 0;
	float: left;
	width: 50%;
	height: 800px;
	padding: 100px;
}

.work-right {
	left: 0;
	position: relative;
	float: right;
	width: 50%;
	height: 800px;
}

.work-left h1 {
	font-size: 45px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #186593;
	line-height: 1.3;
	margin-bottom: 100px;
	text-align: right;
	transition: all 1s ease-in-out;
}

.work-left p {
	text-align: right;
	float: right; 
}

.work-right:hover ~ .work-left h1 {
	color: #186593;
	font-weight: 400;
	letter-spacing: 3px;
}

.work-left a:hover {
	cursor: pointer;
}

.top-left, .top-right, .bottom-left, .bottom-right {
	float: left;
	width: 50%;
	height: 400px;
	background-color: #ccc;
	overflow: hidden;
	border: 1px solid #ccc;
}

.top-left img, .top-right img, .bottom-left img, .bottom-right img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: auto;
    max-width: 480px;
    filter: grayscale(100%);
	transition: all 1s ease-in-out;
}

.top-left img:hover, .top-right img:hover, .bottom-left img:hover, .bottom-right img:hover {
	cursor: default;
	filter: grayscale(0%);	
	-webkit-transform: scale(1.1);
}



/* CONTACT */

.contact-img, .contact-img-form {
	float: left;
	width: 100%;
	height: 800px;
	display: inline-block;
	background: url("../images/contact.jpg") center;
	filter: grayscale(100%);
	transition: all 1s ease-in-out;
}

.contact-img:hover, .contact-img-form:hover {
	filter: grayscale(15%);
	cursor: pointer;
	transform: scale(1.001);
	cursor: default;
}

.contact-right h1 {
	font-size: 45px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #186593;
	line-height: 1.3;
	margin-bottom: 100px;
	transition: all 1s ease-in-out;
}

.contact-right-form h1 {
	font-size: 45px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #186593;
	line-height: 1.3;
	transition: all 1s ease-in-out;
}

.contact-left:hover ~ .contact-right h1 {
	color: #186593;
	font-weight: 400;
	letter-spacing: 3px;
}

.contact-left-form:hover ~ .contact-right-form h1 {
	color: #186593;
	font-weight: 400;
	letter-spacing: 3px;
	transition: all 1s ease-in-out;
}

.contact-right-form h1 {
	margin-bottom: 50px;
}

.contact-right-form, .contact-left-form {
	float: left;
	width: 50%;
	padding: 100px;
	padding-bottom: 33px;
}

.contact-left-form {
	padding: 0;
}

.contact-right a:hover {
	cursor: pointer;
}

.contact-right-form input[type=text] {
	height: 40px;
    width: 650px;
    background-color: #fff;
    color: #474747;
    float: left;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #888;
    margin-top: 20px;
}

.contact-right-form textarea {
	float: left;
	box-sizing: border-box;
	border: 1px solid #888;
	color: #474747;
	font-size: 16px;
	height: 200px;
    width: 650px;
    padding: 18px 12px 18px 10px;
    margin: 20px 0;
    resize: none;
}

.contact-right-form button {
	float: left;
	background-color: #eeeeee;
    border: 1px solid #888;
    color: #474747;
    padding: 15px 34px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.clear {
	width: 100%;
	height: 117px;
	float: left;
}

/* FOOTER */

.footer {
	float: left;
	width: 100%;
	padding: 80px 0 80px 0;
	background: linear-gradient(#eee, #fff);
}

.footer-left {
	float: left;
	width: 50%;
}

.foot-nav {
	float: right;
}

.foot-nav li {
	float: left;
	text-align: right;
	padding: 0 20px;
	font-weight: 400; 
}

.foot-nav {
	font-weight: 300;
    color: #666;
    padding: 25px 80px 0 0;
}

.footer-right {
/*	float: left;*/
	width: 520px;
	margin: 0 auto;
	padding: 0 80px;
}

.footer-right li {
	float: left;
	border: 1px solid #999;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 24px;
	line-height: 2;
	background: #fff;
	margin-right: 20px;
	margin-left: 20px;
}

.footer-right li:hover {
	font-size: 26px;
	text-align: center;
	line-height: 1.9;
	color: #c73260;
	border: 1px solid #c73260;
}

.footer-right i a {
	color: #666;
}

.footer-right i:hover, .footer-left a:hover {
	color: #c73260;
	cursor: pointer;
}

/* ABOUT */

.about-img-left {
	width: 100%;
	height: 800px;
	display: inline-block;
	background: url("../images/about3.jpg") center;
	filter: grayscale(100%);
	transition: all 1.5s ease-in-out;
}

.about-img-left-color {
	width: 100%;
	height: 800px;
	display: inline-block;
	background: url("../images/about1.jpg") center;
	filter: grayscale(100%);
	transition: all 1.5s ease-in-out;
}

.about3-img-left {
	width: 100%;
	height: 800px;
	display: inline-block;
	background: url("../images/about2.jpg") center;
	filter: grayscale(100%);
	transition: all 1s ease-in-out;
}

.about-left:hover .about-img-left {
	background: url("../images/about1.jpg") center;
	filter: grayscale(0%);
	cursor: default;	
	-webkit-transform: scale(1.005);
}

.about3-left:hover .about3-img-left {
	filter: grayscale(0%);
	cursor: default;	
	-webkit-transform: scale(1.005);
}

.about3-right {
	float: left;
	width: 50%;
	height: 800px;
}

.about-page, .work-page {
	margin-top: 117px;
}

.about2 {
	width: 100%;
	height: 800px;
	float: left;
}

.about2-left {
	float: left;
	width: 50%;
	height: 800px;
	padding: 100px;
	text-align: right;
}

.about3-left {
	float: left;
	width: 50%;
	height: 800px;
	text-align: right;
	overflow: hidden;
}

.about2-left p {
	float: right;
}

.about2-right {
	float: left;
	width: 50%;
	height: 800px;
	padding: 100px;
	text-align: right;
	background: #ddd;
	box-sizing: border-box;
}

.about2-right-headline h1 {
	float:left;
	font-size: 45px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #555555;
	line-height: 1.3;
	transition: all 1s ease-in-out;
	text-align: left;
	margin-bottom: 100px;
}

#skills {
	float: right;
	width: 100%;
	background: #ddd;
	display: block;
}

ul {
	color: #2d2d2d;
	text-align: left;
	list-style-type: none;
	letter-spacing: 2px;
	font-weight: 700;
	color: #444;
	font-size: 20px;
}

.box {
	height: 10px;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	margin: 0 0 20px 0;
	text-align: center;
}

#one, #two, #three, #four, #five, #six, #seven, #eight {
	height: 10px;
	width: 75%;
	background: linear-gradient(to right, #c73260, #186593);
	display: block;
	text-align: right;
	font-size: 20px;
	font-weight: 700;
	line-height: 2;
	color: #2a203b;
}

#two {
	width: 70%;
	}

#three {
  	width: 55%;
}

#four {
	width: 50%;
}

#five {
	width: 90%;
}

#six {
	width: 85%;
}

#seven {
	width: 95%;
}

#eight {
	width: 70%;
}

.about2-right:hover #one,
.about2-right:hover #two,
.about2-right:hover #three,
.about2-right:hover #four,
.about2-right:hover #five,
.about2-right:hover #six,
.about2-right:hover #seven,
.about2-right:hover #eight {
	animation: grow 1.4s .3s cubic-bezier(0.39, 0.07, 0.16, 0.97);
}

@keyframes grow {
 	0% {
    	width: 0;
}
	100% {
		transform: 100%;
	}
}

/* WORK */

.work-page-left-content {
	float: left;
	width: 100%;
	height: 800px;
	text-align: right;
	padding: 100px;

}

.work-page-left-content p {
	float: right;
	width: 400px;
	font-size: 22px;
	font-weight: 300;
	color: #666;
	line-height: 2;
	margin-bottom: 30px;
}

.work-page-left img, .work-line2 img {
	max-width: 960px;
	filter: grayscale(100%);
	transition: all 1s ease-in-out;
	overflow: hidden;
}

.work-page-left:hover img, .work-line2:hover img {
	filter: grayscale(0%);
	cursor: default;	
	-webkit-transform: scale(1.01);
}

.work-line2 {
	float: right;
	height: 800px;
	width: 50%;
	overflow: hidden;
	border: 1px solid #ddd;
}

.work-line2:hover ~ .work-left h1 {
	color: #186593;
	font-weight: 400;
	letter-spacing: 3px;
}

.work-page-right a:hover {
	cursor:pointer!important;
}

.work-page-right-img {
	float: right;
	background: red;
	width: 100%;
	height: 800px;
}

.work-various {
	float: left;
	width: 100%;
	height: 800px;
	border: 1px solid #ddd;
}

.top-left-var, .top-right-var, .bottom-left-var, .bottom-right-var {
	float: left;
	width: 50%;
	height: 400px;
	background-color: #ddd;
	overflow: hidden;
}

.top-left-var img, .top-right-var img, .bottom-left-var img, .bottom-right-var img {
	max-width: 480px;
	filter: grayscale(100%);
	transition: all 1s ease-in-out;
	overflow: hidden;
}

.top-left-var:hover img, .top-right-var:hover img, .bottom-left-var:hover img, .bottom-right-var:hover img {
	filter: grayscale(0%);
	cursor: default;	
	-webkit-transform: scale(1.1);
}

.lb {
	display: none;
	position: fixed!important;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	text-align: center;
	overflow: scroll;
}

.lb img {
	max-width: 90%;
	margin-top: 2%;
}

.lb:target {
	outline: none;
	display: block;
}

a.lb:hover {
	cursor:default;
}
img:hover {
	cursor:pointer;
}

